# Python files
*.py
*.pyc
__pycache__/

# Django files
migrations/
*.mo
*.pot
db.sqlite3
db.sqlite3-journal

# Node modules
node_modules/

# Build outputs
*.css.map
styles.css

# Environment files
.env
.venv/
venv/

# Static files
assets/
