{% load base_tags static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    {% title name="The Spark Playhouse" %}
    <link rel="stylesheet" href="{% static 'djanx/base/tailwind/output.css' %}">
    <script src="{% static 'djanx/base/alpinejs/cdn.min.js' %}" defer></script>
  </head>
  <body>
    <main>
      {% block main %}
      {% endblock main %}
    </main>
  </body>
</html>
